.grid-image {
    position: relative;
    padding: 30px;
}

.grid-image::after {
    position: absolute;
    content: "";
    width: 30%;
    z-index: 1;
    top: 70px;
    left: 0px;
    height: 80%;
    background-size: 18px 18px;
    opacity: 0.2;
}